@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Commissioner:wght@100..900&family=Dancing+Script:wght@400..700&family=Lacquer&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    background: #d6e3e42d;
    color: #363636e8;
}

.whole-container{
    max-width: 80rem;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #312e64;
}


/* NAVBAR */

.nav-bar{
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 4rem;
    border-bottom: 2px solid #c2770752;
}

.logo{
    width: 80%;
    height: 80px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    /* padding-right: 5rem; */
    font-size: large;
}

.toggle{
    display: none;
}

nav i{
    color: #312e64;
    font-size: 35px;
    cursor: pointer;
}

/* HERO-SECTION */


#hero-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid  #c2770752;
}

#hero-section h1{
    text-align: center;
    color: #312e64;
    margin: 3rem auto 0;
    font-size: 6.2rem;
    letter-spacing: -0.015em;
    font-weight: 900;
}

#hero-section span{
    font-size: 6.5rem;
    font-weight: 500;
    color: #c27707;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 5rem;
}

#hero-section p{
    font-size: large;
    font-weight: 600;
    padding-bottom: 2rem;
}

#hero-section img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 1rem;
}



/* SERVICES */

#services{
    max-width: 80rem;
    margin: 0 auto;
    border-bottom: 2px solid #c2770752;
}

.services{
    margin: 5rem 1rem;
}

.services h2{
    margin-bottom: 5rem;
    text-align: center;
    letter-spacing: -0.015em;
    font-weight: 500;
    color: #312e64;
    font-size: 3rem;
}

.services-box{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.services-box-img{
    width: 50%;
}

.services-box-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.services-description{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.services h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #312e64;
}

.services p{
    margin-bottom: 1rem;
    letter-spacing: 0.0025em;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.services a{
    color: #312e64;
    border: 1px dotted #c27707;
    padding: .5rem 2rem;
}



/* CONTACT */

#contact-us{
    max-width: 80rem;
    margin: 0 auto;
}

.contact-us{
    margin: 5rem 1rem;
}

.contact-us h2{
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: -0.015em;
    font-weight: 500;
    color: #312e64;
    font-size: 2.5rem;
}

.contact-us p{
    max-width: 42rem;
    margin: 0 auto 2rem;
    letter-spacing: 0.0025em;
    font-size: 1.3rem;
    line-height: 2.25rem;
    text-align: center;
}

.contact-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone{
    font-size: 1.8rem;
    color: #312e64;
}

.phone span{
    margin-left: 1rem;
}


/* FOOTER */

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 4rem;
    border-top: 2px solid #c2770752;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-socials{
    display: flex;
    font-size: 1.5rem;
    color: #312e64;
    gap: 2.5rem;
    padding-top: 1rem;
}

.copyright{
    color: #312e64;
    font-size: 1rem;
}


@media screen and (max-width: 768px){
    .nav-bar{
        max-width: 768px;
        padding: 0 2rem;
    }

    .toggle{
        display: block;
    }

    .ri-close-circle-fill{
        display: none;
    }

    .nav-bar ul{
        position: fixed;
        left: 0;
        flex-direction: column;
        background: #f8bc63;
        transform: translate(-50% -50%);
        top: -50%;
        width: 300px;
        padding: 25px;
        text-align: center;
        justify-content: center;
        font-size: 20px;
        transition: 1s;
    }

    #hero-section h1{
        font-size: 4rem;
        font-weight: 700;
    }

    span{
        font-size: 3.5rem;
        font-weight: 500;
    }

    #hero-section p{
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    #hero-section img{
        width: 90%;
    }

.services{
    margin: 5rem 2rem;
}

.services-box{
    gap: 2.2rem;
}

.services p{
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.contact-us p{
    max-width: 35rem;
}

.contact-socials{
    flex-direction: column;
    align-items: center;
}

.phone span{
    font-size: 1.5rem;
    color: #c27707;
}

#contact-us i{
    font-size: 1.4rem;
}

#footer{
    flex-direction: column;
    gap: 2rem;
}

.copyright{
    font-size: 1.2rem;
}

}



