@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Commissioner:wght@100..900&family=Dancing+Script:wght@400..700&family=Lacquer&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body{
    background: #d6e3e42d;
    color: #363636b0;
}

.whole-container{
    overflow: hidden;
    max-width: 80rem;
    /* min-height: 100vh; */
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #312e64;
}

button{
    all: unset;
    background: #c27707;
    color: #312e64;
    padding: 3px 8px;
    border-radius: 5px;
    /* transition: 50s linear ease-in; */
}

button:hover{
    background: #312e64;
    color: #c27707;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid #35335811;
}

.nav-bar .logo{
    padding-left: 2rem;
    width: 150px;
    height: 55px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-right: 5rem;
    font-size: large;
}

#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #35335811;
}

h1{
    text-align: center;
    color: #312e64;
    margin: 5rem auto 0;
    font-size: 6.8rem;
    font-weight: 900;
}

span{
    font-size: 6.5rem;
    font-weight: 500;
    color: #c27707;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 5rem;
}

#hero-section p{
    font-size: large;
    font-weight: 600;
    padding-bottom: 2rem;
}

#hero-section img{
    width: 150%;
    height: 65vh;
    object-fit: cover;
    border-radius: 1rem;
}

#services{
    margin: 3rem 0 5rem;
    border-bottom: 2px solid #35335811;
}

#services h2{
    text-align: center;
    color: #312e64;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.services{
  display: flex;
  align-items: start;
  gap: 1.5rem;
  max-width: 50%;
  box-shadow: 2px 2px 8px #c2770744;
  border-radius: 1rem;
}

.services h4{
    color: #c27707;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.services p{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
}

.services img{
    object-fit: cover;
   border-radius: 1rem;
}










